*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style-type: none;
}


body {
    font-family: Montserrat, sans-serif;
    background-color: var(--activeColor1);
    color: var(--black);
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1.3;
    overflow: scroll;
    overflow-x: hidden;
}

a, a:visited, a:hover {
    text-decoration: none;
}

:root {
    --activeColor1: #ffffff;
    --greyBG: #f5f7fa;
    --lineGrey: #dedede;
    --black: #282121;
    --greyS: #616161;
    --blue: #2962ff;
    --purple: #6C63FF;
}

header {
    background-color: var(--activeColor1);
    width: 100%;
    height: 80px;
    position: relative;
    border-bottom: 1px solid var(--lineGrey);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 68px;
    padding: 0 68px;
}

.nav-brand {
    font-size: 30px;
    font-weight: 700;
    color: var(--purple);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items li {
    margin-left: 48px;
    
}

.backgroundLi{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    border-radius: 35px;
    width: 120px;
    height: 36px;   
    color: var(--purple);


}

.btnTitle{
    outline: 0;
    background-color: var(--purple);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500; 
    color: var(--activeColor1);
    border-radius: 30px;
    border: 2px solid var(--activeColor1);
    margin-top: 40px;
    padding: 12px 32px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btnTitle:hover{
    background: var(--activeColor1);
    font-weight: 600;
    color: var(--purple);
    border: 2px solid var(--purple);
}


.backgroundLi2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    border-radius: 35px;
    width: 150px;
    height: 36px;
}

.nav-items li a {
    font-size: 16px;
    font-weight: 500;

    transition: all 100ms ease;
}

.nav-items li a:hover {
    color: var(--black);
}

/*_______________________________________________________________*/
.body {
    width: 100%;
    height: 100%;
}

.inner-body {
    display: flex;
    flex-direction: column;
    margin: 80px auto 0;
    position: relative;
}

.mid-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-body h1 {
    font-size: 3em;
    font-weight: 700;
    
    margin-bottom: 10px;
}

.inner-body h4 {
    top: 176px;
    left: 420px;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}

.top-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-body .left-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.left-body .position-button{
    padding-top: 70px;
}
.left-body{
    width: 40%;
}

.top-body .left-body .p-body{
    color: black;
}

.mid-body .p-body{
    padding-top: 15px;
    margin-bottom: 40px;
    color: black;
    font-size: 1em;
}

.top-body .right-body img{
    height: 430px;
    width: 467px;
}

.mid-body form{
    width: 80%;
    border: 1px solid var(--lineGrey);
    border-radius: 15px;
}

.form-url {
    display: flex;
    align-items: center;
    margin-top: 55px;
    padding: 15px;
}

.form-url input {
    outline: 0;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    width: 80%;
    height: 45px;
    border-radius: 3px;
    border: 2px solid var(--activeColor1);
    padding: 10px 12px;
    margin-right: 15px;
}

.btnCheck {
    outline: 0;
    background-color: transparent;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500; 
    color: var(--purple);
    border-radius: 15px;
    border: 2px solid var(--purple);
    padding: 12px 22px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.purple-text{
    color: var(--purple)
}

.bottom-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.bottom-body img{
    width: 685px;
    height: 423px;
}

.bottom-text{
    width: 35%;
}


.inner-body p {
    top: 230px;
    left: 30%;
    font-size: 1.3em;
    font-weight: 600;
}

/* .inner-body p:not(.none) {
    color: #F03E53;
} */

/*.container {*/
/*    background-color: red;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    margin-top: 55px;*/
/*    padding: 15px;*/
/*}*/

/*.container span {*/
/*    font-size: 0.9em;*/
/*    font-weight: 600;*/
/*    text-align: center;*/
/*}*/

/*.container .url {*/
/*    border: 1px solid var(--lineGrey);*/
/*    border: 3px;*/
/*    background-color: var(--activeColor1);*/
/*}*/

/*.container p {*/
/*    font-size: 0.9em;*/
/*    font-weight: 600;*/
/*    text-align: center;*/
/*}*/

/*----------------------------------------------------------------*/
.signup{
    display: flex;
    justify-content: center;
}

.signin{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 80px;
}

.signin,
.signup {
    width: 100%;
    height: 100%;
}

.form-signin,
.form-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 70px;
    margin-bottom: 80px;
    position: relative;
}

.form-signup h2,
.form-signin h2 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin: 60px 0;
}

.signup p {
    margin-top: 70px;
}

.signup p,
.signin p {
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
}

.signup p:not(.none),
.signin p:not(.none) {
    color: #F03E53;
}

.form-signup h2:after {
    content: "";
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--purple);
    width: 150px;
    height: 2px;
}

.form-signin h2:after {
    content: "";
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--purple);
    width: 150px;
    height: 2px;
}

.form-signin input,
.form-signup input {
    outline: 0;
    background: var(--activeColor1);
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    width: 400px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid var(--lineGrey);
    padding: 10px 12px;
    margin: 20px 0 10px 0;
}

.form-signin button,
.form-signup button {
    outline: 0;
    display: block;
    background-color: transparent;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 55px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid var(--lineGrey);
    cursor: pointer;
    transition: all 0.2s ease;
}

input:focus {
    border: 1px solid var(--black);
}

.btnCheck:hover {
    background: var(--purple);
    font-weight: 600;
    color: var(--activeColor1);
    border: 2px solid var(--activeColor1);
}

/*_________________PROFILE________________________*/
.profile {
    width: 100%;
    height: 100%;

    /*background-color: red;*/
}

.container-profil {
    display:flex;
    flex-direction: column;
}

.top-profil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    width: 100%;
}

.left-profil h1 {
    top: 0;
    font-size: 4em;
    font-weight: 700;
    margin: 20px 0;
}

.left-profil p{
    top: 0;
    font-size: 1.3em;
    font-weight: 700;
    
}

.right-profil img {
    width: 654px;
    height: 470px;
}

.mid-profil {
    padding-bottom: 50px;

    height: 80%;
    margin: 5%;
}

.mid-profil .form-url{
    display: flex;
    justify-content: center;
    border: 1px solid var(--lineGrey);
    border-radius: 15px;
    margin-bottom: 48px;
}
/*commentaire*/
.mid-profil .display-profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
}


.container-url h4 {
    font-size: 22px;
    font-weight: 600;
    padding: 15px 0 40px 0;
}

.list-url {
    width: 60%;
    height: auto;
}


.item-url {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid var(--lineGrey);
    background-color: var(--activeColor1);
}

.item-url p{
    width: 4vw;
}

.item-url div {
    display: flex;
    justify-content: center;
}

.display-url{
    display: flex;
    flex-direction: column;
    
}

.display-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.click{
    padding-right: 15px;
    margin-right: 10px;
    font-size: 1em;
    color: var(--greyS)
}

.nb-click{
    font-size: 1.3em;
    color: var(--purple);
}

.item-url  p{
    font-size: 3em;
    color: var(--purple);
    margin-right: 30px;
}

.item-url .shortner-lenght{
    color: var(--purple);
    
}

.item-url .shortner-lenght span{
    color: var(--greyS);
}

.item-url .long-lenght{
    color: var(--purple);
    margin-bottom: 15px;
}

.item-url a {
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    margin-right: 15px;
}


.item-url .active {
    outline: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--purple);
    border-radius: 10px;
    border: 1px solid var(--purple);
    background-color: var(--activeColor1);
    width: 80px;
    height: 23px;
    transition: 300ms ease;
    cursor: pointer;
    margin-right: 30px;
}

.item-url .inactive {
    outline: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--activeColor1);
    border-radius: 10px;
    border: 1px solid var(--activeColor1);
    background-color: var(--purple);
    width: 80px;
    height: 23px;
    transition: 300ms ease;
    cursor: pointer;
    margin-right: 30px;
}

.item-url button{
    outline: 0;
    background-color: white ;
}


.section-right {
    /*background-color: #F03E53;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;
}

.block-user .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--activeColor1);
    margin-bottom: 30px;
    overflow: hidden;
}

.block-user .picture img {
    width: 50%;
}

.block-user .user {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}

.block-user .email {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.bottom-profil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 96px;
}

.bottom-profil img{
    width: 487px;
    height: 296px;
}

.bottom-text-profil{
    width: 35%;
}

.bottom-profil h1{
    width: 120%;
    top: 0;
    font-size: 3em;
    font-weight: 700;
    margin: 20px 0;
}

.bottom-profil p{
    top: 0;
    font-size: 1.3em;
    font-weight: 700;
    margin: 20px 0;
}
/*_________________SIGNIN________________________*/
.signin{
    width: 100%;
}



/*_________________FOOTER________________________*/

footer{
    box-sizing: content-box;
    display: block;
    width: 100%;
    height: 130px;
    background-color: var(--purple);
    position: relative;
    border-top: 1px solid var(--lineGrey);
    color: var(--activeColor1);    
}

.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;  
}


.legal{
    padding-bottom: 15px;
}

.legal ul{
    display: flex;
    justify-content: space-around;
}